<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h3>欢迎来到{{school}}学习</h3>
        <button id="bt1" @click="print1">点我提示信息1</button> 
        <br>
        x参数：<input type="text" id="input1" v-model="x">
        <br>
        y参数：<input type="text" id="input2" v-model="y">
        <br>
        <button id="bt2" @click="print2(123,$event)">点我提示信息2 + 传递参数x,y</button>
        <!-- v-on:click可以简写为@click -->
        <!-- 绑定事件，阻止默认行为 -->
        <br>
        <a href="http://www.baidu.com" @click.prevent="print3">点我提示：信息3；阻止默认行为</a>
        <br>
        <div @click="print4">
        <a href="http://www.baidu.com" @click.stop.prevent="print4">点我提示：信息4（阻止冒泡）</a>
        </div>

        <!-- 键盘事件 -->
        <br>
        <input @keyup.esc="print5" type='text' placeholder="按下回车提示数据"> 
        <!-- 也可以用@keyup.13等价于keyup.enter --> 
        <!-- 只用掌握enter和esc键盘按键响应 -->
    </div>
    <script type="text/javascript"> 
    new Vue({
        el: '#root',
        data: {
            school:'HUST',
            x:'',
            y:''
        },
        methods: {
            print1(event){
                // console.log(this.school,event.target.innerText)
                alert("信息1")
            },
            print2(num,event){
                console.log(event)
                alert("信息2\n传递参数为：x: "+this.x+"\ny: "+ this.y)
            },
            print3(event){
               // event.preventDefault()
                alert('信息3')
            },
            print4(event){
               // event.stopPropagation()
                alert('信息4')
            },
            print5(event){
                // if(event.keyCode == 13)
                // console.log(event.target.value) //靠程序员自己判断按键
                console.log(event.target.value) //可以用event.keyCode得到键值
            }
        }
    })
    </script>
</body>
</html>